* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  line-height: 1.5;
}

html,
body {
  margin: 0;
  padding: 0;
}

.max-width-wrapper {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

main,
header {
  padding-top: 32px;
  padding-bottom: 32px;
}

main {
  background-color: hsl(0deg, 0%, 60%);
  border-top: 6px solid hsl(0deg, 0%, 40%);
}

.title {
  font-size: 1.5rem;
}

strong {
  color: hsl(160deg, 100%, 30%);
}

.intro-chunk {
  padding: 16px;
}

.indented-heading {
  font-size: 1rem;
  padding: 16px;
  padding-left: 24px;
  padding-right: 24px;
  width: fit-content;
  background-color: hsl(45deg, 100%, 50%);
  border-bottom: 6px solid hsl(45deg, 100%, 40%);
  margin-left: -24px;
  margin-top: -10px;
}

.card {
  background-color: hsl(0deg, 0%, 100%);
  border-bottom: 6px solid hsl(0deg, 0%, 40%);
  padding: 16px;
}
